<div ng-repeat="tedTalk in tedTalkList">
  <div class="tedTalkContainer">
    <div class="tedTalkItem" style="float:left;" ng-mouseenter="showControlIcons()" ng-mouseleave="hideControlIcons()">
      <img class="tedTalkImage" ng-src="{{tedTalk.previewImageURL}}">
      <svg class="icon icon-play" viewBox="0 0 1024 1024" ng-show="tedTalk.areControlIconsVisible">
        <path class="path1" d="M512 0c-282.77 0-512 229.23-512 512s229.23 512 512 512 512-229.23 512-512-229.23-512-512-512zM512 928c-229.75 0-416-186.25-416-416s186.25-416 416-416 416 186.25 416 416-186.25 416-416 416zM384 288l384 224-384 224z"></path>
      </svg>
      <svg class="icon icon-info" viewBox="0 0 1024 1024" ng-show="tedTalk.areControlIconsVisible" ng-click="showMoreInfo()">
        <path class="path1" d="M448 304c0-26.4 21.6-48 48-48h32c26.4 0 48 21.6 48 48v32c0 26.4-21.6 48-48 48h-32c-26.4 0-48-21.6-48-48v-32z"></path>
        <path class="path2" d="M640 768h-256v-64h64v-192h-64v-64h192v256h64z"></path>
        <path class="path3" d="M512 0c-282.77 0-512 229.23-512 512s229.23 512 512 512 512-229.23 512-512-229.23-512-512-512zM512 928c-229.75 0-416-186.25-416-416s186.25-416 416-416 416 186.25 416 416-186.25 416-416 416z"></path>
      </svg>
      <div class="tedTalkImageOverlayText">
        <div class="tedTalkSpeakerText">{{tedTalk.speaker}}</div>
        <div class="tedTalkTitleText">{{tedTalk.title}}</div>
      </div>
    </div>
    <blockquote class="rectangle-speech-border" style="float:left;" ng-show="tedTalk.isMoreInfoVisible">
      <div class="tedTalkInfoText">{{tedTalk.content}}</div>
    </blockquote>
  </div>
</div>
